<div class="inner-content">

  <h1>about</h1><br>

  <img class="about-image pull-right" width="250" src="/static/headshot.jpg">

  <p class="about-text">
    <b>usedbookscraper</b> is an all-polished-up version of a script I created
    way back when I first discovered that shipping is cheap on half.com if you
    order multiple books from the same seller.
  </p>

  <p class="about-text">
    I love used books &mdash; they smell nice and sometimes they come with
    imagination-provoking hints about past readers.
    Notes in the margins. Heartfelt inscriptions.
    Plane ticket bookmarks. Horse track picks.
    Cutouts of celebrities from mid&#8209;90s tabloids. Makes you wonder...
  </p>

  <p class="about-text" style="text-align: center; margin-top: 80px">
    like <b>usedbookscraper</b>? say hi on
    <a href="https://www.goodreads.com/user/show/32853571-usedbookscraper" target="_blank">goodreads</a>
    or
    <a href="https://twitter.com/qqrsmith" target="_blank">twitter</a>
  </p>

  <p class="about-text" style="text-align: center; margin-top: 20px">
    or send comments and bug reports to <b>usedbookscraper</b> at <b>gmail</b>
  </p>

  <p class="about-text" style="font-size: 11px; text-align: center; margin-top: 80px">
    many thanks:
    <a href="https://angularjs.org/" target="_blank">angular</a> &bull;
    <a href="http://getbootstrap.com/2.3.2/" target="_blank">bootstrap</a> &bull;
    <a href="http://lodash.com/" target="_blank">lo-dash</a> &bull;
    <a href="http://gulpjs.com/" target="_blank">gulp</a> &bull;
    <a href="https://www.heroku.com/" target="_blank">heroku</a> &bull;
    <a href="http://www.sinatrarb.com/" target="_blank">sinatra</a> &bull;
    <a href="http://developer.ebay.com/DevZone/half-finding/Concepts/HalfFindingAPIGuide.html" target="_blank">half.com api</a> &bull;
    <a href="https://www.goodreads.com/api" target="_blank">goodreads api</a> &bull;
    <a href="http://xisbn.worldcat.org/xisbnadmin/doc/api.htm" target="_blank">xisbn api</a> &bull;
    <a href="http://giphy.com" target="_blank">giphy</a>
  </p>

  <p class="about-text" style="font-size: 11px; text-align: center; margin-top: 0px">
    made in brooklyn
  </p>

</div>
