<div class="inner-content">

  <h1>about</h1><br>

  <img class="about-image pull-right" width="250"
    src="http://octopart.com/static/nextstatic/team/russell.JPG">

  <p class="about-text">
    <b>usedbookscraper</b> was born for two reasons:
    <ol>
      <li>a long list of books I wanted to read</li>
      <li>the condition of broke-ness that tends to accompany encounters with institutions of higher education</li>
    </ol>
  </p>

  <p class="about-text">
    (a contributing factor was the deliciousness of used books in general
    &mdash; the smells,
    the marginalia from bookworms and distressed students,
    the business cards and horse track picks and plane tickets as bookmarks,
    <em style="white-space: nowrap">et cetera</em>)
  </p>

  <p class="about-text" style="text-align: center; margin-top: 80px">
    like <b>usedbookscraper</b>? say hi on
    <a href="https://www.goodreads.com/user/show/5123156-russ" target="_blank">goodreads</a>
    or
    <a href="https://twitter.com/qqrsmith" target="_blank">twitter</a>
  </p>

  <p class="about-text" style="text-align: center; margin-top: 20px">
    or send comments and bug reports to <b>usedbookscraper</b> at <b>gmail</b>
  </p>

  <p class="about-text" style="font-size: 11px; text-align: center; margin-top: 80px">
  many thanks:
    <a href="https://angularjs.org/" target="_blank">angular</a> &bull;
    <a href="http://getbootstrap.com/2.3.2/" target="_blank">bootstrap</a> &bull;
    <a href="http://lodash.com/" target="_blank">lo-dash</a> &bull;
    <a href="http://gulpjs.com/" target="_blank">gulp</a> &bull;
    <a href="https://www.heroku.com/" target="_blank">heroku</a> &bull;
    <a href="http://www.sinatrarb.com/" target="_blank">sinatra</a> &bull;
    <a href="http://developer.ebay.com/DevZone/half-finding/Concepts/HalfFindingAPIGuide.html" target="_blank">half.com api</a> &bull;
    <a href="https://www.goodreads.com/api" target="_blank">goodreads api</a> &bull;
    <a href="http://xisbn.worldcat.org/xisbnadmin/doc/api.htm" target="_blank">xisbn api</a>
  </p>

</div>
