  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">usedbookscraper</a>

        <ul class="nav pull-left">
          <li><a href="#about">about</a></li>
          <li><a href="#start">start search</a></li>
        </ul>

        <div class="nav pull-right" ubs-progress-tracker>
        </div>

      </div>
    </div>
  </div>

  <div class="container well well-large main-content">

      <div class="row span7" ubs-error-alerts></div>

      <div class="row" ng-view></div>

  </div>
