<div class="span6 offset3">

<h1>select books</h1><br>

<div ng-show="loading">
  <img src="/static/spinner.gif"> 
  Loading books...
</div>
<div ng-hide="loading">
  <div ng-show="!books.length">
    <h4>No books found.</h4>
  </div>

  <div ng-hide="!books.length">
    <form ng-submit="submitSelectedBooks(selected_books)" ng-disabled="!books.length">
      <div>
        Select
        <a href="" ng-click="setAllSelections(true)">All</a> / 
        <a href="" ng-click="setAllSelections(false)">None</a>
      </div><br>
      <div ng-repeat="book in books">
        <label class="well well-small" ng-disabled="!book.isbn" >
          <input ng-model="selection[$index]" type="checkbox" ng-disabled="!book.isbn" class="books-checkbox">
          <img ng-src="{{book.small_image_url}}" class="books-img">
          <div class="books-label">
            <div><b>{{book.title}}</b></div>
            <div>{{book.author}}</div>
            <span ng-if="!book.isbn" class="label label-important">No ISBN</span>
          </div>
        </label>
      </div>
      <input type="submit">
    </form>
  </div>

</div>
</div>
