<p>This is the partial for books.</p>
<form ng-submit="submitSelectedBooks(selected_books)">
  <input type="submit" ng-disabled="loading || !books.length">
  <div>
    Select
    <a href="" ng-click="setAllSelections(true)">All</a> / 
    <a href="" ng-click="setAllSelections(false)">None</a>
  </div>
  <div ng-if="!loading && !books.length"><h3>No books found</h3></div>
  <div ng-repeat="book in books">
    <div ng-if="!book.isbn">No ISBN for book</div>
    <input ng-model="selection[$index]" type="checkbox" ng-disabled="!book.isbn">
    <img ng-src="{{book.small_image_url}}">
    {{book.title}} 
    - {{book.author}}
    - {{book.isbn}}
  </div>
  <input type="submit" ng-disabled="loading || !books.length">
</form>

<pre>{{selection || json}}</pre>
<pre>{{selected_books || json}}</pre>
