<div class="inner-content">

<h1>select editions</h1><br>

<div ng-show="loading">
  <img src="/static/spinner.gif"> &nbsp;&nbsp;&nbsp;
  Loading editions...
</div>
<div ng-hide="loading">
  <div ng-show="!editions.length">
    <h4>No editions found.</h4>
  </div>

  <div ng-hide="!editions.length">
    <form ng-submit="submitSelectedEditions(selection)" ng-disabled="!books.length">
      <div>
        Select
        <a href="" ng-click="setAllSelections(true)">All</a> / 
        <a href="" ng-click="setAllSelections(false)">None</a>
        <button type="submit" class="btn btn-primary pull-right">continue &gt;&gt;</button>
      </div><br>
      <div ng-repeat="book in books">
        <div class="well well-small">
          <img ng-src="{{book.small_image_url}}" class="books-img">
          <div class="books-label">
            <div><b>{{book.title}}</b></div>
            <div>{{book.author}}</div>
            <br>

            <label class="checkbox" ng-repeat="ed in book.editions">
            <small>
              <input ng-model="selection[$parent.$index][$index]" type="checkbox" ng-disabled="!ed.isbn">
              <div> <b>{{ed.title}}</b> {{!ed.year ? '' : '(' + ed.year + ')'}} </div>
              <div>{{ed.author}}</div>
              <div>isbn: {{ed.isbn}}</div>
            </small>
            </label>

          </div>
          <br> <div><small>
            Select
            <a href="" ng-click="setAllSelectionsForBook($index, true)">All</a> / 
            <a href="" ng-click="setAllSelectionsForBook($index, false)">None</a>
          </small></div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary pull-right">continue &gt;&gt;</button>
    </form>

  </div>
</div>

</div>
