<div class="clearfix"></div>

<div class="home-text top-slide lightbg">
  hello
</div>

<div class="home-text mid-slide darkbg">
  hello
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/step_start.png" class="example">
  <p class="example-text">
    Some explanatory text goes here.  Some explanatory text goes here.  Some 
    explanatory text goes here.  Some explanatory text goes here.  Some 
    explanatory text goes here. 
  </p>
</div>

<div class="home-text mid-slide darkbg">
  <img src="/static/example/step_shelves.png" class="example">
  <p class="example-text">
    Some explanatory text goes here.  Some explanatory text goes here.  Some 
    explanatory text goes here.  Some explanatory text goes here.  Some 
    explanatory text goes here. 
  </p>
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/step_shelves_coffeetable_low.png" class="example">
</div>

<div class="home-text mid-slide darkbg">
  <img src="/static/example/advanced_options_shelves.png" class="example" style="width: 472px">
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/step_books.png" class="example">
</div>

<div class="home-text mid-slide darkbg">
  <img src="/static/example/advanced_options_books.png" class="example">
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/advanced_options_books_full.png" class="example">
</div>

<div class="home-text mid-slide darkbg">
  <img src="/static/example/advanced_options_books_pynchon_musthave.png" class="example">
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/step_editions.png" class="example">
</div>

<div class="home-text mid-slide darkbg">
  <img src="/static/example/step_editions_alice_tenniel.png" class="example">
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/step_listings.png" class="example">
</div>

<div class="home-text mid-slide darkbg">
  <img src="/static/example/step_listings_progress_only.png" class="example">
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/step_results_heading.png" class="example">
</div>

<div class="home-text mid-slide darkbg">
  <img src="/static/example/step_results_free_state.png" class="example">
</div>

<div class="home-text mid-slide lightbg">
  <img src="/static/example/step_results_yankee_clipper.png" class="example">
</div>


<div class="home-text bot-slide darkbg">
  The quick brown fox jumped over the lazy dog.
</div>
