<table class="table table-bordered half-shipping">
  <thead>
    <tr><th colspan="2" style="text-align: center">
        Half.com Shipping Charges
    </th></tr>
    <tr>
      <th>Item</th>
      <th>USPS Media Mail</th>
    </tr>
  </thead>
  <tr>
    <td> 
      <div>Hardcover Book</div>
      <div class="additional">Additional Item &ndash; Same Seller</div>
    </td>
    <td>
      <div class="price">$3.99 per item</div>
      <div class="price additional"><span class="highlight">$2.49 per item</span></div>
    </td>
  </tr>
  <tr>
    <td> 
      <div>Paperback Book</div>
      <div class="additional">Additional Item &ndash; Same Seller</div>
    </td>
    <td>
      <div class="price">$3.49 per item</div>
      <div class="price additional"><span class="highlight">$1.89 per item</span></div>
    </td>
  </tr>
</table>
