<div class="clearfix"></div>

<div class="home-text top-slide lightbg">
  <img src="/static/bookstack.jpg" class="home-hero-img" style="float: right; margin-top: 50px">
  <div>
    <h1>usedbookscraper</h1>
    <h4>buy a stack of books for a couple bucks each</h4>
    <div style="margin-top: 50px; margin-left: 100px">
      <a href="#start" class="btn btn-large btn-primary">start search &gt;&gt;</a>
    </div>
    <div style="margin-top: 20px; margin-left: 100px">
      or <a href="#example">see an example search...</a>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="home-text bot-slide darkbg">
  <div ng-include="'partials/half-shipping-table.html'"
    style="float: right; margin-left: 50px">
  </div>
  <div>
    <b>how it works:</b>
    <ol>
      <li>get your <b>reading list</b> from goodreads.com or enter isbns directly</li>
      <li>select <b>5 &ndash; 25 books</b> for the search</li>
      <li>tweak options to prioritize certain books, pick specific editions, and set max price and minimum acceptable book condition</li>
      <li>usedbookscraper <b>searches
      <a target="_blank" href="http://rover.ebay.com/rover/1/8971-56017-19255-0/1?ff3=5&pub=5575092710&toolid=10001&campid=5337535591">
        half.com</a>
      </b> and shows you results grouped by seller</li>
      <li><b>buy a stack of books</b> from <b>one seller</b> and get cheap shipping</li>
    </ol>
    <img style="text-decoration:none;border:0;padding:0;margin:0;" src="http://rover.ebay.com/roverimp/1/8971-56017-19255-0/1?ff3=5&pub=5575092710&toolid=10001&campid=5337535591&customid=&mpt=[CACHEBUSTER]">
  </div>
  <div class="clearfix"></div>
</div>
