<div class="span4 offset4">

<h3><center>querying half.com...</center></h3><br>

<div class="progress" ng-hide="apiRequestProgress.call.finished">
  <div class="bar" style="width: {{apiRequestProgress.call.percent}}%;"></div>
</div>

<div class="progress" ng-show="apiRequestProgress.call.finished">
  <div class="bar bar-success" style="width: {{apiRequestProgress.page.percent}}%;"></div>
</div>

</div>

<div class="row span6 offset3" style="text-align: center; padding-top: 40px">

<div giphy-embed></div>

</div>
