<p>This is the partial for view 3.</p>

<ul>
  <li ng-repeat="seller in sellers | orderBy:sellerSortKey:true">
  <h3>{{seller.name}}</h3> 
  ( {{seller.feedback_rating}}% &ndash; {{seller.feedback_count}} )

    <ul>
      <li ng-repeat="listing in seller.listings | orderBy:'book'">
        <a href="{{listing.half_item_url}}">
          <b>{{listing.book.title}}</b>
        </a><br>
        {{listing.book.author}}<br>
        {{listing.price | currency}}<br>
        {{listing.comments}}
      </li>
    </ul>
  </li>
</ul>
