<div class="inner-content" style="max-width: 760px">

<h1>results</h1><br>

<div ng-show="!pagedSellers.length">
  <h4>No sellers found.</h4>
</div>

<div ng-hide="!pagedSellers.length">
  <div ubs-pager pager-num-pages="pagedSellers.length" 
    pager-per-page="perPage" pager-current-page="currentPage"></div>

  <div ng-repeat="seller in pagedSellers[currentPage]">
    <div ubs-seller-books="seller"></div>
  </div>

  <div ubs-pager pager-num-pages="pagedSellers.length" 
    pager-per-page="perPage" pager-current-page="currentPage"></div>

</div>
