<div class="inner-content">

<h1>select shelves</h1><br>

<div ng-show="loading">
  <img src="/static/spinner.gif"> &nbsp;&nbsp;&nbsp;
  Loading shelves...
</div>
<div ng-hide="loading">

<div style="display: inline-block">
<form ng-submit="submitGoodreadsShelves(selectedShelves)">
  <select multiple autofocus class="shelves-select" size="20"
    ng-model="selectedShelves" 
    ng-options="shelf.name for shelf in shelves">
  </select><br><br>
  <button type="submit" class="btn btn-primary">continue &gt;&gt;</button>
</form>
</div>
<div style="display: inline-block; margin-left: 60px; vertical-align: top">
  <div class="well well-small" style="margin-bottom: 60px">
    default book search options
    <div ubs-book-options="defaultBookOptions"></div>
  </div>
  <div ng-repeat="shelf in selectedShelves" class="well well-small">
    shelf: {{shelf.name}}
    <div ubs-book-options="shelf.bookOptions"
      ubs-book-options-defaults="defaultBookOptions">
    </div>
  </div>
</div>

</div>
</div>
